/* Prevent copy paste for all elements except text fields */
*  { -webkit-user-select:none; -webkit-tap-highlight-color:rgba(255, 255, 255, 0); }
input, textarea  { -webkit-user-select:text; }
body{ overflow-x:hidden;}
#main{
        padding: 10px;
background-color:#4b4d4e;

 }
#header{
    margin: -10px -5px 0px -5px;
    padding-left: 0px;
}

#toggle-menu{
    float:left;
    border: none;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 20px;
}

#menu{
}

#header button i{
    margin-top: 11px;
}

#notification{
}